//footer.footer
//    .container
//        .footer__inner
//            .footer__top
//                .footer__left
//                    .footer__logo
//                        a(href='#')
//                            img(src='./img/logo_footer.svg' alt='logo')
//                .footer__center
//                    .footer__menu-wrap
//                        .footer__menu-col
//                            ul.footer__menu
//                                li.footer__menu-item
//                                    a(href='#').footer__menu-link Про нас
//                                li.footer__menu-item
//                                    a(href='#').footer__menu-link Політика конфіденційності
//                                li.footer__menu-item
//                                    a(href='#').footer__menu-link Правила та умови
//                        .footer__menu-col
//                            ul.footer__menu
//                                li.footer__menu-item
//                                    a(href='#').footer__menu-link Доставка та оплата
//                                li.footer__menu-item
//                                    a(href='#').footer__menu-link Платежі
//                                li.footer__menu-item
//                                    a(href='#').footer__menu-link Питання/Відповідь
//                        .footer__menu-col
//                            ul.footer__menu
//                                li.footer__menu-item
//                                    a(href='#').footer__menu-link Тарифи
//                                li.footer__menu-item
//                                    a(href='#').footer__menu-link Калькулятор
//                                li.footer__menu-item
//                                    a(href='#').footer__menu-link Терміни доставки
//                                li.footer__menu-item
//                                    a(href='#').footer__menu-link Новини
//                        .footer__menu-col
//                            ul.footer__menu
//                                li.footer__menu-item
//                                    .footer__menu-link.footer__menu-link--no-link Офіси. Київ 02000О норе Де Бальзака, 4А
//                                li.footer__menu-item
//                                    a(href='#').footer__menu-link Відділення Нової пошти №295
//                                li.footer__menu-item
//                                    a(href='mailto:support@expresposhta.com').footer__menu-link support@expresposhta.com
//                                li.footer__menu-item
//                                    a(href='tel:380982519280').footer__menu-link
//                                        b +380-98-251-92-80
//
//                .footer__right
//                    .footer__social
//                        a(href='#').footer__social-item
//                            include ../../img/home/instagram.svg
//                        a(href='#').footer__social-item
//                            include ../../img/home/fb.svg
//
//            .footer__bottom Express Poshta (www.expressposhta.com) © 2017-2019 All Rights Reserved
//                a(href='https://asabix.com/') Development by Asabix
