footer.footer
    .footer__inner
        .footer__top
            .footer__left
                .footer__logo
                    a(href='#')
                        img(src='./img/logo_footer.svg' alt='logo')
            .footer__center
                .footer__item-title Navigation:
                .footer__menu-wrap
                    .footer__menu-col
                        ul.footer__menu
                            li.footer__menu-item
                                a(href='#').footer__menu-link Home Page
                            li.footer__menu-item
                                a(href='#').footer__menu-link About Us
                    .footer__menu-col
                        ul.footer__menu
                            li.footer__menu-item
                                a(href='#').footer__menu-link Amusements
                            li.footer__menu-item
                                a(href='#').footer__menu-link ATMs
                    .footer__menu-col
                        ul.footer__menu
                            li.footer__menu-item
                                a(href='#').footer__menu-link Tournaments
                            li.footer__menu-item
                                a(href='#').footer__menu-link Leagues
                    .footer__menu-col
                        ul.footer__menu
                            li.footer__menu-item
                                a(href='#').footer__menu-link Calendar of Events
                            li.footer__menu-item
                                a(href='#').footer__menu-link Contacts

            .footer__contact
                .footer__item-title Contact:
                .footer__menu-wrap
                    .footer__menu-col
                        ul.footer__menu
                            li.footer__menu-item.footer__menu-item--email
                                include ../../img/email.svg
                                a(href='mailto:info@superiorvendinginc.com').footer__menu-link info@superiorvendinginc.com
                            li.footer__menu-item.footer__menu-item--phone
                                include ../../img/phone.svg
                                a(href='tel:+16515548363').footer__menu-link +1 (651) 554 - 8363

            .footer__right
                .footer__item-title Social Media:
                .footer__menu-wrap
                    .footer__social
                        a(href='https://www.facebook.com/superior.leagues/' target="_blank").footer__social-item.fb-ico
                            include ../../img/fb.svg

        .footer__bottom.dots-horizontal
            .footer__bottom-left
                span © 2023 Logo. All rights reserved.
                span © Developed by <a href='#'>Asabix</a> company
            .footer__bottom-right
                a(href='#') Privacy Policy
                a(href='#') Terms of Service
