header.header
    .header__inner
        .header__logo
            a(href='#')
                img(src="./img/logo.svg" alt='logo')
        .header__munu-wrap
            ul.header__menu
                li.header__menu-item
                    a(href="#").header__menu-link About Us
                li.header__menu-item
                    a(href="#").header__menu-link Amusements
                li.header__menu-item
                    a(href="#").header__menu-link ATMs
                li.header__menu-item.has-sub-menu
                    a(href="#").header__menu-link Tournaments
                    ul.header__sub-menu
                        li.header__sub-menu-item
                            a(href="#").header__sub-menu-link Dart Leagues
                        li.header__sub-menu-item
                            a(href="#").header__sub-menu-link Fall Darts
                        li.header__sub-menu-item
                            a(href="#").header__sub-menu-link Summer Darts
                        li.header__sub-menu-item.has-sub-menu-lv2
                            a(href="#").header__sub-menu-link Pool Leagues
                            ul.header__sub-menu-lv2
                                li.header__sub-menu-lv2-item
                                    a(href="#").header__sub-menu-lv2-link Bronco’s
                                li.header__sub-menu-lv2-item
                                    a(href="#").header__sub-menu-lv2-link Summer Darts
                                li.header__sub-menu-lv2-item
                                    a(href="#").header__sub-menu-lv2-link Coon Valley
                                li.header__sub-menu-lv2-item
                                    a(href="#").header__sub-menu-lv2-link Darts
                                li.header__sub-menu-lv2-item
                                    a(href="#").header__sub-menu-lv2-link Dairyland
                                li.header__sub-menu-lv2-item.has-sub-menu-lv3
                                    a(href="#").header__sub-menu-lv2-link Summer Darts
                                    ul.header__sub-menu-lv3
                                        li.header__sub-menu-lv3-item
                                            a(href="#").header__sub-menu-lv3-link La Valle Area Summer Darts Div. 3
                                        li.header__sub-menu-lv3-item
                                            a(href="#").header__sub-menu-lv3-link Lyndon Station Summer Darts
                                        li.header__sub-menu-lv3-item
                                            a(href="#").header__sub-menu-lv3-link Dairyland Summer Darts
                                        li.header__sub-menu-lv3-item
                                            a(href="#").header__sub-menu-lv3-link La Crosse Summer Sunday Dbls Combo
                                        li.header__sub-menu-lv3-item
                                            a(href="#").header__sub-menu-lv3-link La Valle Area Summer Darts Div. 1
                li.header__menu-item
                    a(href="#").header__menu-link Leagues
                li.header__menu-item
                    a(href="#").header__menu-link Calendar of Events
                li.header__menu-item
                    a(href="#").header__menu-link Contacts

        .header__info
            .header__email
                include ../../img/email.svg
                a(href="mailto:info@superiorvendinginc.com") info@superiorvendinginc.com
            .header__phone
                include ../../img/phone.svg
                a(href="tel:+16515548363") +1 (651) 554 - 8363
        .header__social
            a(href='#').header__social-item.fb-ico
                include ../../img/fb.svg
        .header__button
            a(href="#").site-btn League/Tournament Registration
        a(href="javascript:void(0)").mobile-menu-btn

.m-header
    .m-header__inner
        .m-header__top
            .header__info
                .header__email
                    include ../../img/email.svg
                    a(href="mailto:info@superiorvendinginc.com") info@superiorvendinginc.com
                .header__phone
                    include ../../img/phone.svg
                    a(href="tel:+16515548363") +1 (651) 554 - 8363
            .header__button
                a(href="#").site-btn League/Tournament Registration
            .header__social
                a(href='#').header__social-item.fb-ico
                    include ../../img/fb.svg

        .m-header__munu-wrap
            ul.m-header__menu
                li.m-header__menu-item
                    a(href="#").m-header__menu-link About Us
                li.m-header__menu-item
                    a(href="#").m-header__menu-link Amusements
                li.m-header__menu-item
                    a(href="#").m-header__menu-link ATMs
                li.m-header__menu-item.has-sub-menu
                    a(href="#").m-header__menu-link Tournaments
                    ul.m-header__sub-menu
                        li.m-header__sub-menu-item
                            a(href="#").m-header__sub-menu-link Dart Leagues
                        li.m-header__sub-menu-item
                            a(href="#").m-header__sub-menu-link Fall Darts
                        li.m-header__sub-menu-item
                            a(href="#").m-header__sub-menu-link Summer Darts
                        li.m-header__sub-menu-item.has-sub-menu-lv2
                            a(href="#").m-header__sub-menu-link Pool Leagues
                            ul.m-header__sub-menu-lv2
                                li.m-header__sub-menu-lv2-item
                                    a(href="#").m-header__sub-menu-lv2-link Bronco’s
                                li.m-header__sub-menu-lv2-item
                                    a(href="#").m-header__sub-menu-lv2-link Summer Darts
                                li.m-header__sub-menu-lv2-item
                                    a(href="#").m-header__sub-menu-lv2-link Coon Valley
                                li.m-header__sub-menu-lv2-item
                                    a(href="#").m-header__sub-menu-lv2-link Darts
                                li.m-header__sub-menu-lv2-item
                                    a(href="#").m-header__sub-menu-lv2-link Dairyland
                                li.m-header__sub-menu-lv2-item.has-sub-menu-lv3
                                    a(href="#").m-header__sub-menu-lv2-link Summer Darts
                                    ul.m-header__sub-menu-lv3
                                        li.m-header__sub-menu-lv3-item
                                            a(href="#").m-header__sub-menu-lv3-link La Valle Area Summer Darts Div. 3
                                        li.m-header__sub-menu-lv3-item
                                            a(href="#").m-header__sub-menu-lv3-link Lyndon Station Summer Darts
                                        li.m-header__sub-menu-lv3-item
                                            a(href="#").m-header__sub-menu-lv3-link Dairyland Summer Darts
                                        li.m-header__sub-menu-lv3-item
                                            a(href="#").m-header__sub-menu-lv3-link La Crosse Summer Sunday Dbls Combo
                                        li.m-header__sub-menu-lv3-item
                                            a(href="#").m-header__sub-menu-lv3-link La Valle Area Summer Darts Div. 1
                li.m-header__menu-item
                    a(href="#").m-header__menu-link Leagues
                li.m-header__menu-item
                    a(href="#").m-header__menu-link Calendar of Events
                li.m-header__menu-item
                    a(href="#").m-header__menu-link Contacts


//include ../components/popups/_popup_location_select
