header.header
    .header__inner
        .header__logo
            a(href='#')
                img(src="./img/logo.svg" alt='logo')
        .header__munu-wrap
            ul.header__menu
                li.header__menu-item
                    a(href="#").header__menu-link About Us
                li.header__menu-item
                    a(href="#").header__menu-link Amusements
                li.header__menu-item
                    a(href="#").header__menu-link ATMs
                li.header__menu-item.has-sub-menu
                    a(href="#").header__menu-link Tournaments
                    ul.header__sub-menu
                        li.header__sub-menu-item
                            a(href="#").header__sub-menu-link Dart Leagues
                        li.header__sub-menu-item
                            a(href="#").header__sub-menu-link Fall Darts
                        li.header__sub-menu-item
                            a(href="#").header__sub-menu-link Summer Darts
                        li.header__sub-menu-item.has-sub-menu-lv2
                            a(href="#").header__sub-menu-link Pool Leagues
                            ul.header__sub-menu-lv2
                                li.header__sub-menu-lv2-item
                                    a(href="#").header__sub-menu-lv2-link Bronco’s
                                li.header__sub-menu-lv2-item
                                    a(href="#").header__sub-menu-lv2-link Summer Darts
                                li.header__sub-menu-lv2-item
                                    a(href="#").header__sub-menu-lv2-link Coon Valley
                                li.header__sub-menu-lv2-item
                                    a(href="#").header__sub-menu-lv2-link Darts
                                li.header__sub-menu-lv2-item
                                    a(href="#").header__sub-menu-lv2-link Dairyland
                                li.header__sub-menu-lv2-item.has-sub-menu-lv3
                                    a(href="#").header__sub-menu-lv2-link Summer Darts
                                    ul.header__sub-menu-lv3
                                        li.header__sub-menu-lv3-item
                                            a(href="#").header__sub-menu-lv3-link La Valle Area Summer Darts Div. 3
                                        li.header__sub-menu-lv3-item
                                            a(href="#").header__sub-menu-lv3-link Lyndon Station Summer Darts
                                        li.header__sub-menu-lv3-item
                                            a(href="#").header__sub-menu-lv3-link Dairyland Summer Darts
                                        li.header__sub-menu-lv3-item
                                            a(href="#").header__sub-menu-lv3-link La Crosse Summer Sunday Dbls Combo
                                        li.header__sub-menu-lv3-item
                                            a(href="#").header__sub-menu-lv3-link La Valle Area Summer Darts Div. 1
                li.header__menu-item
                    a(href="#").header__menu-link Leagues
                li.header__menu-item
                    a(href="#").header__menu-link Calendar of Events
                li.header__menu-item
                    a(href="#").header__menu-link Contacts

        .header__info
            .header__email
                include ../../img/email.svg
                a(href="mailto:info@superiorvendinginc.com") info@superiorvendinginc.com
            .header__phone
                include ../../img/phone.svg
                a(href="tel:+16515548363") +1 (651) 554 - 8363
        .header__social
            a(href='#').header__social-item.fb-ico
                include ../../img/fb.svg
        .header__button
            a(href="#").site-btn League/Tournament Registration
        //a(href="javascript:void(0)").mobile-menu-btn
        //    include ../../img/menu-btn.svg

    //.header-mobile
    //    .header-mobile__inner
    //        .header-mobile__top
    //            .header-mobile__logo
    //                a(href='#')
    //                    img(src="./img/logo.svg" alt='logo')
    //            .header-mobile__lang
    //                .header__languages
    //                    .header__languages-selected
    //                        include ../../img/home/menu-flag-ua.svg
    //                    .header__languages-items
    //                        .header__languages-item
    //                            include ../../img/home/menu-flag-ua.svg
    //                            | Ukr
    //                        .header__languages-item
    //                            include ../../img/home/menu-flag-ua.svg
    //                            | Ukr
    //                        .header__languages-item
    //                            include ../../img/home/menu-flag-usa.svg
    //                            | Ukr
    //            .header-mobile__close
    //                a(href="javascript:void(0)").mobile-menu-btn
    //                    include ../../img/menu-close.svg
    //        .header-mobile__menu
    //            .header-mobile__menu-item
    //                a(href="#").header-mobile__menu-link Як відправити
    //            .header-mobile__menu-item
    //                a(href="#").header-mobile__menu-link Терміни доставки
    //            .header-mobile__menu-item
    //                a(href="#").header-mobile__menu-link Тарифи
    //            .header-mobile__menu-item
    //                a(href="#").header-mobile__menu-link Калькулятор
    //            .header-mobile__menu-item
    //                a(href="#").header-mobile__menu-link Питання/Відповідь
    //            .header-mobile__menu-item
    //                a(href="/contacts.html").header-mobile__menu-link Контакти
    //        .header-mobile__phone
    //            .header__phone
    //                a(href="tel:0800217096") 0 (800) 217-096
    //        .header-mobile__social
    //            .header__solial
    //                .header__social
    //                    a(href='#').header__social-item
    //                        include ../../img/home/telegram.svg
    //                    a(href='#').header__social-item
    //                        include ../../img/home/phone.svg
    //                    a(href='#').header__social-item
    //                        include ../../img/home/viber.svg
    //        .header-mobile__btn
    //            a(href="https://system.expressposhta.com/post/login").site-btn Відправити посилку


//include ../components/popups/_popup_location_select
