block vars

.popup(data-popup=`${popupName}` class=`${popupClass}`)
    .popup__inner
        .popup__close
            .popup__close-icon
                div
                div
                div
        .popup__head
            block title
        .popup__content
            block content

