extends ./templates/_layout

block vars
  - var pageTitle = "Contact-us";
  - var pageClass = "contact-us";
  - var pageActive = "contact-us";

block content
  div.main-wrap

    .breadcrumbs
      .breadcrumbs__inner.site-block-inner
        .breadcrumbs__items
          .breadcrumbs__item
            a(href='#').breadcrumbs__link Home Page
          .breadcrumbs__item
            a(href='#').breadcrumbs__link Contact us

    .center-title
      .center-title__inner.site-block-inner
        .center-title__main Contact us
        .center-title__sub Have Questions? Curious to Know More? Connect with Us and Unleash Your Ultimate Entertainment Journey!

    section.contact-top
      .contact-top__inner.site-block-inner
        .contact-top__items
          .contact-top__item
            .contact-top__ico
              include ../img/contacts/mail-c.svg
            .contact-top__txt
              .contact-top__name Email
              a(href='#').contact-top__link hello@relume.io
          .contact-top__item
            .contact-top__ico
              include ../img/contacts/phone-c.svg
            .contact-top__txt
              .contact-top__name Phone
              a(href='#').contact-top__link +1 (555) 000-0000
          .contact-top__item
            .contact-top__ico
              include ../img/contacts/pin.svg
            .contact-top__txt
              .contact-top__name Address
              a(href='#').contact-top__link 123 Sample St, Sydney NSW 2000 AU

    section.section-contact
      .section-contact__inner
        .section-contact__left.site-left-block
          .section-contact__left-inner
            .block-title Contact us
            .block-sub-title
              p Have Questions? Curious to Know More? Connect with Us and Unleash Your Ultimate Entertainment Journey!

            .section-contact__btn
              a(href="#").site-btn Learn more

        .section-contact__right.site-right-block
          .section-contact__title Contact us
          form.section-contact__form
            .section-contact__form-item
              input(type='text' placeholder='Name').section-contact__input
            .section-contact__form-item
              input(type='text' placeholder='Phone').section-contact__input
            .section-contact__form-item
              input(type='text' placeholder='E-mail').section-contact__input
            .section-contact__form-item
              label(for='select') Choose from the list:
              select(id='select' data-placeholder="").section-contact__select.site-form__select.form-select
                option
                option(value='1') Leagues
                option(value='2') Sales
                option(value='3') Accounting
                option(value='4') Other
            .section-contact__form-item
              label(for='textarea') Message
              textarea(id='textarea' placeholder='Type your message').section-contact__textarea
            .section-contact__form-item
              input(type='checkbox' id='checkbox' placeholder='E-mail').section-contact__checkbox.custom-checkbox
              label(for='checkbox') I agree with the
                a(href='terms-of-service.html') Terms and Conditions

            .section-contact__form-item
              button(type='submit').section-contact__button.site-btn Submit

        
    