extends ./templates/_layout

block vars
  - var pageTitle = "Homepage";
  - var pageClass = "homepage";
  - var pageActive = "homepage";

block content
  div.main-wrap
    section.section-top.lazyload
      .section-top__left
        .section-top__title.dots-horizontal
          .site-title
            .site-title--outline Superior
            .site-title--line2 Vending
          .site-sub-title.site-sub-title--line2 Three Decades of Gaming Excellence - Superior Vending, Your Trusted Entertainment Partner. Our dedicated team provides outstanding customer service, ensuring your satisfaction every step of the way.

          .site-title-btn.site-title-btn--line2
            a(href="#").site-btn Contact Us
            a(href="#").site-btn.site-btn--outline Learn more

        .section-top__img
          img(src="./img/home/home-top-2.jpg" alt='img')

      .section-top__right
        .section-top__img.dots-vertical
          img(src="./img/home/home-top.jpg" alt='img')
        .section-top__img.dots-vertical.dots-horizontal
          img(src="./img/home/home-top-3.jpg" alt='img')


    section.section-dart
      .section-dart__inner.site-block-inner
        .block-title.block-title--mobile Dart Leagues:
        .section-dart__left.site-left-block
          .section-dart__left-inner
            .section-dart__img-top.dots-horizontal
              img(src="./img/home/dart.jpg" alt='img')
            .section-dart__img-bottom
              .section-dart__img-bottom-left.dots-vertical
                img(src="./img/home/dart-2.jpg" alt='img')
              .section-dart__img-bottom-right.dots-vertical
                img(src="./img/home/dart-3.jpg" alt='img')

        .section-dart__right.site-right-block.center-block
          .section-dart__right-inner
            .block-title Dart Leagues:
            .block-sub-title
              p Bullseye Moments, Unleash Your Darting Skills - Superior Vending, Where
              p Champions Rise. Participate in our dart leagues and gain recognition for your talent, opening doors to NADO and sanctioned tournaments with the NDA.

            .section-dart__list.block-list
              ul
                li Upcoming Dart Leagues
                li Upcoming Dart Tournaments
                li Dart League Registration
                li Dart Tournament Registration

            .section-dart__btn
              a(href="#").site-btn Learn more

    section.section-pool
      .section-pool__inner.site-block-inner
        .block-title.block-title--mobile Pool Leagues:
        .section-pool__left.site-left-block.center-block
          .section-pool__left-inner
            .block-title Pool Leagues:
            .block-sub-title
              p Rack 'Em Up, Shoot for Glory - Superior Vending, Elevating Pool Leagues to the Next Level. Join our leagues to improve your skills, compete with the best, have fun and pave the way for sanctioning in prestigious VNEA tournaments.


            .section-pool__list.block-list
              ul
                li Upcoming Pool Leagues
                li Upcoming Pool Tournaments
                li Pool League Registration
                li Pool Tournament Registration

            .section-pool__btn
              a(href="#").site-btn Learn more

        .section-pool__right
          .section-pool__right-inner
            .section-pool__img-left
              .section-pool__img-top.dots-vertical.dots-horizontal
                img(src="./img/home/pool.jpg" alt='img')
              .section-pool__img-bottom
                img(src="./img/home/pool-2.jpg" alt='img')
            .section-pool__img-right
              img(src="./img/home/pool-3.jpg" alt='img')



    .home-bg-block
      section.section-atm
        .section-atm__inner.site-block-inner
          .section-atm__left
            .section-atm__img-left
              picture
                source(srcset="./img/home/atm-mob.jpg" media="(max-width: 1180px)")
                img(src="./img/home/atm.jpg" alt='img')
            .section-atm__img-right.dots-vertical.dots-horizontal
              picture
                source(srcset="./img/home/atm-2-mob.jpg" media="(max-width: 1180px)")
                img(src="./img/home/atm-2.jpg" alt='img')

          .section-atm__right.site-right-block.center-block
            .block-title ATMs:
            .block-sub-title
              p Convenience at Your Fingertips - Superior Vending ATMs, Making Transactions Seamless. Boost your business sales and customer satisfaction with our reliable ATMs, enhancing the overall experience for patrons.

            .section-pool__btn
              a(href="#").site-btn Learn more

      section.section-services
        .section-services__inner.site-block-inner
          .section-services__left.site-left-block
            .section-services__img-top.dots-horizontal
              img(src="./img/home/services.jpg" alt='img')
            .section-services__img-bottom
              img(src="./img/home/services-2.jpg" alt='img')

          .section-services__right.site-right-block.center-block
            .block-title Amusement Services:
            .block-sub-title
              p Games that Unite, Fun that Excites - Superior Vending, Your Source for Unforgettable Entertainment. Stay ahead of the curve with our constantly updated selection, featuring the newest industry game releases.

            .section-pool__btn
              a(href="#").site-btn Learn more



    section.section-contact
      .section-contact__inner
        .section-contact__left.site-left-block
          .section-contact__left-inner
            .block-title Contact us
            .block-sub-title
              p Have Questions? Curious to Know More? Connect with Us and Unleash Your Ultimate Entertainment Journey!

            .section-contact__btn
              a(href="#").site-btn Learn more

        .section-contact__right.site-right-block
          .section-contact__title Contact us
          form.section-contact__form
            .section-contact__form-item
              input(type='text' placeholder='Name').section-contact__input
            .section-contact__form-item
              input(type='text' placeholder='Phone').section-contact__input
            .section-contact__form-item
              input(type='text' placeholder='E-mail').section-contact__input
            .section-contact__form-item
              label(for='select') Choose from the list:

              select(id='select' data-placeholder="Select one...").section-contact__select.site-form__select.form-select
                option
                option League’s Name
                option(value='1') Select one...
                option(value='2') Select two...
              //select(id='select').section-contact__select
              //  option Select
              //  option(value='1') Select one...
              //  option(value='2') Select two...
            .section-contact__form-item
              label(for='textarea') Message
              textarea(id='textarea' placeholder='Type your message').section-contact__textarea
            .section-contact__form-item
              input(type='checkbox' id='checkbox' placeholder='E-mail').section-contact__checkbox.custom-checkbox
              label(for='checkbox') I agree with the
                a(href='terms-of-service.html') Terms and Conditions

            .section-contact__form-item
              a(href='javascript:void()' data-open="thank-you").section-contact__button.site-btn Submit

        
    