extends ./templates/_layout

block vars
  - var pageTitle = "Homepage";
  - var pageClass = "homepage";
  - var pageActive = "homepage";
  - var index = true;

block content
  div.main-wrap(style='display: flex;justify-content: center; align-items: center; min-height: 100vh; gap: 20px; flex-direction: column;')
    a(href='home.html') home
    a(href='contact-us.html') contact-us
    a(href='registration.html') registration
    a(href='registration-2.html') registration-2
    a(href='registration-3.html') registration-3
    a(href='calendar.html') calendar
    a(href='leagues.html') leagues


