extends ./templates/_layout

block vars
  - var pageTitle = "Privacy policy";
  - var pageClass = "privacy-page";
  - var pageActive = "privacy-page";

block content
  div.main-wrap
    .breadcrumbs
      .breadcrumbs__inner.site-block-inner
        .breadcrumbs__items
          .breadcrumbs__item
            a(href='#').breadcrumbs__link Home Page
          .breadcrumbs__item
            a(href='#').breadcrumbs__link Privacy policy
    section.article-section
      .small-container.small-container--with-sidebar
        article.article
          .article__head
            h1.article__title Privacy policy
            .article__date Effective date: April 3, 2023
          .article__body
            .article__sidebar
              .article__sidebar-title Table of contents
              .article__nav
                a(href="#header2").article__nav-link Privacy Policy - Superior Vending Inc.
                a(href="#header3").article__nav-link Collection of Personal Information
                a(href="#header4").article__nav-link Use and Disclosure of Personal Information
                a(href="#header5").article__nav-link External Links
                a(href="#header6").article__nav-link Consent
                a(href="#header7").article__nav-link Children's Privacy
                a(href="#header8").article__nav-link Changes to the Privacy Policy
                a(href="#header9").article__nav-link Contact Information
            .article__content
              h2(id="header2") Privacy Policy - Superior Vending&trade; Inc.
              p At Superior Vending&trade; Inc. (referred to as "we," "us," or "our"), we are committed to protecting the privacy and personal information of our website visitors, including the players who register for our Leagues and Tournaments. This Privacy Policy outlines how we collect, use, and disclose the personal information provided to us through our website.
              h3(id="header3") Collection of Personal Information:
              p (a) We may collect personal information from players during the registration process for our Leagues and Tournaments. This personal information may include, but is not limited to, the player's name, phone number, and email address. Additionally, please be aware that we may take photos of players during leagues, banquets, tournaments, and other events. These photos may be used by the company on our social media platforms, website, and for marketing purposes. By participating in our leagues and events, you consent to the capturing and use of your image in these photographs.
              p (b) Payment Information: When you make payments for tournaments, events, or other services offered through the Website, we may collect and process your payment information, such as credit card details or other financial account information. Please note that we do not store or retain your complete payment information on our servers. Instead, we use a third-party payment processor to securely handle and process your payments.
              h3(id="header4") Use and Disclosure of Personal Information:
              p We value the privacy and security of your personal information and handle it responsibly. Here's how we use and disclose your personal information:
              ol
                li Trusted Service Providers: We may share personal information with trusted service providers who assist us in operating our website, conducting our business, and organizing our leagues and tournaments.
                li Legal Obligations and Safety: We may disclose personal information if required by law or to protect our rights, property, or safety, or the rights, property, or safety of others.
                li Payment Processing: To process payments made on our website, we use Square, a trusted payment processor. Your payment information is securely transmitted to and processed by Square, and Square's own privacy policy and security practices govern the handling of your payment information.
                li Tournament Management: We use personal information to manage and organize tournaments, events, and other services. This includes processing payments and communicating with you about your transactions.
                li League and Tournament Communication: We communicate with players regarding league and tournament updates, schedules, and other relevant information to ensure smooth coordination and effective participation.
                li Team Coordination: To facilitate team coordination and communication, we may list the team captain's phone number and email address on our website for other registered players to access.
                li Marketing Communications: With your provided email address and phone number, we may send you marketing communications, updates, and information about our products, services, and upcoming events. You have the option to unsubscribe from receiving such communications at any time by following the instructions included in the emails or by contacting us directly.
                li Use of Photos: We may capture photos at tournaments and events, and by participating, you agree that we may use these photos on our social media, website, and for marketing purposes.
                li Posting Personal Information: By providing your personal information, including the captain's first and last name, phone number, and email address, you expressly agree that we may post this information on the website for league management purposes. This allows other players and league participants to access and use this information to coordinate games, communicate with team captains, and engage in league activities.
                li Third-Party Access: Please note that once personal information is posted on the website, it may be accessible to other users and the general public. We cannot control or guarantee the actions of individuals who may access this information. Therefore, you release Superior Vending&trade; from any liability related to the access, use, or disclosure of this personal information by third parties.
              h3(id="header5") External Links:
              p Our website may contain links to external websites that are not operated or controlled by us. This Privacy Policy applies only to our website. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party websites.
              h3(id="header6") Consent:
              p By registering for our Leagues and Tournaments and providing your personal information, you consent to the collection, use, and disclosure of that information in accordance with this Privacy Policy.
              p By continuing to participate in our Leagues and Tournaments, you acknowledge and accept the collection, use, and potential use of your personal information and photographs as described in this Privacy Policy.
              h3(id="header7") Children's Privacy:
              p Our website is not intended for individuals under the age of 18. We do not knowingly collect personal information from children. If we become aware that we have collected personal information from a child without parental consent, we will take steps to remove that information from our servers.
              h3(id="header8") Changes to the Privacy Policy:
              p We reserve the right to update or modify this Privacy Policy at any time. Any changes will be posted on this page with a revised effective date. We encourage players to review this Privacy Policy periodically for any updates.
              h3(id="header9") Contact Information:
              p If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us at:
              p
               b Superior Vending&trade; Inc.
              p
                a(href="tel:16515548363") +1 (651) 554 - 8363
              p
                a(href="mailto:info@superiorvendinginc.com") info@superiorvendinginc.com
              p By using our website and providing personal information, you acknowledge that you have read and understood this Privacy Policy and agree to its terms and conditions.
              p
                b Last updated: 7.12.2023
