extends ./templates/_layout

block vars
  - var pageTitle = "Terms of service";
  - var pageClass = "terms-page";
  - var pageActive = "terms-page";

block content
  div.main-wrap
    .breadcrumbs
      .breadcrumbs__inner.site-block-inner
        .breadcrumbs__items
          .breadcrumbs__item
            a(href='#').breadcrumbs__link Home Page
          .breadcrumbs__item
            a(href='#').breadcrumbs__link Terms of service
    section.article-section
      .small-container
        article.article
          .article__head
            h1.article__title Terms of Service
            .article__date Effective date: April 3, 2023
          .article__body
            .article__content
              h2 Terms of Use Policy
              p Welcome to the website of Superior Vending&trade; Inc ("Superior Vending," "we," "our," or "us"). By accessing or using our website, located at www.SuperiorVending.com (the "Website"), you agree to be bound by these Terms of Use. Please read these terms carefully before using the Website. If you do not agree to these terms, please do not use or access the Website.
              h3 Acceptance of Terms
              p By accessing or using the Website, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use, as well as our Privacy Policy [insert link], which is incorporated by reference. If you do not agree to any provision of these terms, you should immediately cease all use of the Website.
              h3 Intellectual Property
              p All content, trademarks, logos, and other intellectual property displayed or made available on the Website are the property of Superior Vending&trade; or their respective owners. You may not use, modify, distribute, reproduce, or display any of the content on the Website without the prior written consent of Superior Vending or the respective owners, as applicable.
              h3 Website Use
              p (a) You agree to use the Website only for lawful purposes and in compliance with all applicable laws and regulations. You must not use the Website in any way that may infringe upon the rights of others or restrict or inhibit anyone else's use and enjoyment of the Website.
              p (b) You agree not to engage in any conduct that could damage, disable, or impair the Website or interfere with any other party's use of the Website. You must not attempt to gain unauthorized access to any part of the Website or any systems or networks connected to the Website.
              p (c) We reserve the right to suspend, restrict, or terminate your access to the Website at any time without notice for any reason, including if we believe that you have violated these Terms of Use or any applicable law or regulation.
              h3 Links to Third-Party Websites
              p The Website may contain links to third-party websites that are not owned or controlled by Superior Vending&trade;. We are not responsible for the content, privacy policies, or practices of any third-party websites. Your use of any third-party websites is subject to the terms and conditions and privacy policies applicable to those websites.
              h3 Disclaimer of Warranties
              p The Website and all content, materials, information, and services provided on the Website are provided on an "as is" and "as available" basis without warranties of any kind, either express or implied. Superior Vending&trade; disclaims all warranties, express or implied, including but not limited to, implied warranties of merchantability, fitness for a particular purpose, title, and non-infringement.
              h3 Limitation of Liability
              p To the fullest extent permitted by applicable law, Superior Vending&trade; shall not be liable for any direct, indirect, incidental, special, consequential, or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses, arising out of or in connection with your use of the Website.
              h3 Changes to the Terms of Use
              p Superior Vending&trade; reserves the right to modify or update these Terms of Use at any time without prior notice. Your continued use of the Website after any modifications or updates constitutes your acceptance of the revised terms. It is your responsibility to review the Terms of Use periodically.
              h3 Severability
              p If any provision of these Terms of Use is found to be invalid, illegal, or unenforceable, the remaining provisions shall continue in full force and effect.
              h3 Contact Us
              p If you have any questions or concerns regarding these Terms of Use, please contact us at info@superiorvendinginc.com.
              p By using the Website, you signify your agreement to these Terms of Use.

    