extends ./templates/_layout

block vars
  - var pageTitle = "Tournament detail";
  - var pageClass = "tournament-detail-page";
  - var pageActive = "tournament-detail";

block content
  div.main-wrap

    .breadcrumbs
      .breadcrumbs__inner.site-block-inner
        .breadcrumbs__items
          .breadcrumbs__item
            a(href='#').breadcrumbs__link Home Page
          .breadcrumbs__item
            a(href='#').breadcrumbs__link Leagues Page Info


    section.tournament-detail
      .tournament-detail__inner.site-block-inner
        .tournament-detail__left
          .t-article
            .t-article__inner
              .t-article__top-img
                img(src='./img/tournament-details/tournament-detail.jpg')
              .t-article__title Monday Summer Adult/Youth Pool League
              .t-article__top-items
                .t-article__top-item
                  .t-article__top-ico
                    include ../img/tournament-details/t-b-calendar.svg
                  .t-article__top-right
                    .t-article__top-name Date and Time
                    .t-article__top-txt.underline May 1, 2023  7:00 am
                .t-article__top-item
                  .t-article__top-ico
                    include ../img/tournament-details/calendar.svg
                  .t-article__top-right
                    .t-article__top-name Day of the week
                    .t-article__top-txt.underline Sunday
                .t-article__top-item
                  .t-article__top-ico
                    include ../img/tournament-details/t-pin.svg
                  .t-article__top-right
                    .t-article__top-name Location
                    .t-article__top-txt Bronco's105 3rd St SLa Crosse, WI 54601USA
                .t-article__top-item
                  .t-article__top-ico
                    include ../img/tournament-details/glass.svg
                  .t-article__top-right
                    .t-article__top-name League type
                    .t-article__top-txt.underline Remote

              .t-article__content
                .t-article__accordion
                  .t-article__accordion-inner
                    h2.toggle-accordion.toggle-accordion--open League information:
                    .t-article__accordion-content
                      ul
                        li League plays on Monday's at 7 p.m. Starting October 17th, 2022
                        li Single Player
                        li Flex schedule, can you shoot Sun-Thurs
                        li ¢ 7501 D/D Split Bull, 7 Cricket, 1 701 D/D Full Bull
                      p In an attempt to update the 501 games we had gone into “Match Options” and it only corrected the first game. Afterwards we individually went each single game to make sure that each was set to the proper bullseye in accordance with it either being Split vs.

                .t-article__accordion
                  .t-article__accordion-inner
                    h2.toggle-accordion.toggle-accordion--open Cost Per Player
                    .t-article__accordion-content
                      p $20 per player per night including quarters to play the games.
                .t-article__accordion
                  .t-article__accordion-inner
                    h2.toggle-accordion.toggle-accordion--open Sanctioning
                    .t-article__accordion-content
                      p SVI/MOMA ($5 PER PLAYER/8 WEEKS), NDA ($10 PER PLAYER/ 96 GAMES) **PRICE CHANGE FROM $8 TO $10 PER PLAYER**= $15.00 per player

                //.t-article__accordion
                //  .t-article__accordion-inner
                //    h2.toggle-accordion.toggle-accordion--open Captain’s contact info
                //    .t-article__accordion-content
                //      .t-article__info-list
                //        .t-article__info-item
                //          .t-article__info-item-icon
                //            include ../img/tournament-details/user.svg
                //          .t-article__info-item-content
                //            .t-article__info-item-title Name
                //            .t-article__info-item-text Ivan Ivanov
                //        .t-article__info-item
                //          .t-article__info-item-icon
                //            include ../img/tournament-details/phone.svg
                //          .t-article__info-item-content
                //            .t-article__info-item-title Phone
                //            .t-article__info-item-text
                //              a(href="tel:15762382687") +1 (576) 238-2687
                //        .t-article__info-item
                //          .t-article__info-item-icon
                //            include ../img/tournament-details/email.svg
                //          .t-article__info-item-content
                //            .t-article__info-item-title E-mail
                //            .t-article__info-item-text
                //              a(href="mailto:@gmail.com") @gmail.com

              .t-article__bottom-items
                .t-article__bottom-item
                  a(href='#').t-article__bottom-link
                    .t-article__bottom-ico
                      include ../img/tournament-details/t-winning.svg
                    .t-article__bottom-txt Standings
                .t-article__bottom-item
                  a(href='#').t-article__bottom-link
                    .t-article__bottom-ico
                      include ../img/tournament-details/t-b-calendar.svg
                    .t-article__bottom-txt Schedule <br>(Div 1)
                .t-article__bottom-item
                  a(href='/captain-info.html').t-article__bottom-link
                    .t-article__bottom-ico
                      include ../img/tournament-details/t-user.svg
                    .t-article__bottom-txt Team Captain's <br>Info



        .tournament-detail__right
          .tournament-detail__btns
            .tournament-detail__btn-wrap
              a(href='#').tournament-detail__btn
                include ../img/tournament-details/t-log-in.svg
                span Registration
            .tournament-detail__btn-wrap
              a(href='#').tournament-detail__btn
                include ../img/tournament-details/t-calendar.svg
                span Calendar of Events
            .tournament-detail__btn-wrap
              a(href='#').tournament-detail__btn
                include ../img/tournament-details/t-calculator.svg
                span Schedules & Standings

