extends ./templates/_layout

block vars
  - var pageTitle = "Weekly stats";
  - var pageClass = "stats-page";
  - var pageActive = "stats-page";

block content
  div.main-wrap
    .breadcrumbs
      .breadcrumbs__inner.site-block-inner
        .breadcrumbs__items
          .breadcrumbs__item
            a(href='#').breadcrumbs__link Home Page
          .breadcrumbs__item
            a(href='#').breadcrumbs__link Weekly stats
    section.stats-section
      .site-block-inner
        h1.stats-section__title Weekly stats
        .stats-list
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
          a(download href="pdf-file.pdf").stats-list__item
            .stat-item
              .stat-item__icon
                include ../img/pdf.svg
              .stat-item__name File name
