extends ../../templates/_popup

block vars
    - var popupName = "thank-you";
    - var popupClass = "thank-you-popup";

block title
    .popup__title
        .popup__big-title.popup__big-title--outline Thank you
block content
    .popup-txt
        .popup-txt__inner.popup-txt__inner--left-line We appreciate your interest in our services. Rest assured that our team is actively reviewing your question, and we will respond to you promptly. Your satisfaction is our priority, and we look forward to providing you with the information you need. Stay tuned, and we'll be in touch with you soon!











