extends ../../templates/_popup

block vars
    - var popupName = "add-review-product";

block title
    .popup__title Успішно відправлено
block content
    .popup-txt
        h3 Ваше повідомлення успішно відправлено










