extends ../../templates/_popup

block vars
    - var popupName = "successful-payment";
    - var popupClass = "successful-payment-popup";

block title
    .popup__title
        .popup__big-title Successful
block content
    .successful-payment-popup__text Payment was successfully received
    button.site-btn.successful-payment-popup__btn(type="button" data-close) Close











