@import "../modules/_help";


.footer {
  padding: 30px 0 0;
  border-top: 1px solid #C3C3C3;
  overflow: hidden;

  @include for-1300 {
    padding: 20px 0 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1830px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;

    @include for-1300 {
      padding-bottom: 20px;
    }

    @include for-1180 {
      flex-direction: column;
      padding-bottom: 0;
    }
  }

  &__left {
    @include for-1180 {
      display: none;
    }
  }

  &__logo {

  }

  &__center {
    width: 100%;
    max-width: 870px;

    @include for-1600 {
      max-width: 760px;
    }

    @include for-1300 {
      max-width: 540px;
    }

    @include for-1180 {
      max-width: 100%;
    }
  }

  &__item-title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    @include for-1180 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        width: 14px;
        height: 8px;
        transition: 0.3s;
        background: url("../../img/arrow-black.svg") center center no-repeat;
      }

      &.open {
        &::after {
          transform: rotate(180deg);
        }

        & + .footer__menu-wrap {
          max-height: 200px;
        }
      }
    }

    @include for-550 {
      font-size: 14px;
      line-height: 30px;
      margin-bottom: 11px;
    }
  }

  &__menu-wrap {
    display: flex;
    justify-content: space-between;

    @include for-1180 {
      border-bottom: 1px solid #EDEDED;
      margin-bottom: 17px;
      max-height: 0;
      overflow: hidden;
      transition: 0.3s;
    }

    @include for-768 {
      flex-wrap: wrap;
    }
  }

  &__menu-col {
    @include for-768 {
      width: 50%;
    }
  }

  &__menu {

  }

  &__menu-item {
    font-size: 16px;
    line-height: 40px;

    @include for-550 {
      font-size: 14px;
      line-height: 30px;
    }

    &--email {

    }

    &--phone {

    }
  }

  &__menu-link {
    color: #353535;
    transition: 0.3s;

    &:hover {
      color: #0014b8;
    }
  }

  &__contact {
    width: 100%;
    max-width: 290px;
    font-size: 16px;
    line-height: 40px;
    margin-right: -80px;

    @include for-1180 {
      max-width: 100%;
    }
  }

  &__right {
    @include for-1180 {
      display: none;
    }
  }

  &__social {

  }

  &__social-item {
    display: flex;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 42px;
    font-size: 16px;
    line-height: 40px;

    @include for-1300 {
      padding-top: 25px;
      padding-bottom: 28px;
    }

    @include for-1180 {
      padding-top: 0;
      padding-bottom: 17px;
      flex-wrap: wrap;
    }

    @include for-550 {
      font-size: 14px;
      line-height: 30px;
    }

    &:after {
      width: calc(100% + 110px);
      bottom: auto;
      top: 0;
      left: 0;
      right: auto;
      margin-left: -55px;
      background-position: left top;
      background-repeat: repeat-x;

      @include for-1180 {
        display: none;
      }
    }

    a {
      transition: all 0.3s;
    }

    a:hover {
      color: #0014b8;
    }
  }

  &__bottom-left {
    display: flex;

    @include for-1180 {
      width: 100%;
      justify-content: space-between;
    }

    @include for-550 {
      flex-direction: column;
    }

    span {
      &:first-child{
        margin-right: 44px;
      }
    }

    a {
      color: #353535;
      text-decoration: underline;
    }
  }

  &__bottom-right {
    display: flex;

    @include for-1180 {
      width: 100%;
      justify-content: space-between;
    }

    a {
      color: #353535;

      &:first-child{
        margin-right: 66px;
      }
    }
  }

}

